#layout
{
  position: relative;
  height: 100%;
  width: 100%;
}

#main
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 150px;
}

.vbox
{
  position: relative;
  height: 100%;
  margin-left: 450px;
}

#player
{
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  height: 150px;

  border-top: 1px solid #aaa;
  background-color: #fff;
}

#playlists
{
  float: left;
  width: 200px;
  height: 100%;
}

#artists
{
  float: left;
  width: 250px;
  height: 100%;
}

#artists .listview
{
  overflow-x: hidden;
}

#songs
{
  height: 100%;
}

/* vi:ex:ts=2:et */
