.listview
{
  overflow: auto;
  height: 100%;
  font-size: 0.9em;
}

.listview table
{
  width: 100%;
  border-collapse: collapse;
}

.listview tr
{
}

.listview th
{
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa));
  background: -moz-linear-gradient(top, #fff, #aaa);
  padding: 5px;
}

.listview tr:nth-child(2n) td
{
  background-color: rgba(0%, 0%, 0%, 0.02);
}

.listview.selectable tr:hover td
{
  background-color: rgba(100%, 100%, 100%, 0.5);
}

.listview.selectable tr.selected:hover td
{
  background-color: #3793ff;
  color: #fff;
}

.listview td
{
  padding: 5px;
  -webkit-transition: background 100ms linear, color 100ms ease-in, text-shadow 100ms ease-in;
  text-shadow: 1px 1px 1px #fff;
}

.listview tr.selected td
{
  background-color: #0076ff;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}

.listview.selectable tr td
{
  cursor: pointer;
}

.listview td.grouped
{
  vertical-align: top;
}

/* vi:ex:ts=2:et */
