#playlists
{
  overflow-x: hidden;
  overflow-y: auto;

  border-right: 1px solid #aaa;
  background-color: #efefef;

  color: #333;
}

#playlists .listview tr:hover td
{
  color: #000;
}

#playlists .listview tr.selected:hover td
{
  color: #fff;
}

#playlists .listview table td
{
  padding: 10px;
}

/* vi:ex:ts=2:et */
